:80 {
  encode zstd gzip

  handle /healthz {
    respond "ok" 200
  }

  handle /api* {
    reverse_proxy frontend-proxy:3000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
